<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Main page' }) %>
<body>
  <h1>Hello world!</h1>
  <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, quia!</h5>
  <input type="text" id="username">

  <div id="chatbox"></div>
  <input type="text" id="input">
  <button id="sendButton">Send</button>

  <script src="script.js"></script>
</body>
</html>